.info-box{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;width: 300px;height: 300px;margin: 0 20px 20px 0;
}
.image-container img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}
.info-box .data{
    display: block;
    margin: -10px 0 30px;
}
.info-box .info{
    overflow: hidden;
}
.info-box .info dl{
    margin: 0 0 20px;overflow: hidden;
}
.info-box .info dt{
    float: left;
    clear: left;
    margin: 0 5px 10px 0;
    font-weight: bold;
    width: 80px;
}
.info-box .info dd{
    margin: 0 0 10px;
    display:block;overflow: hidden;
}
.info-box .price{
    display: block;
    font-weight: bold;
    color: #23527c;
    font-size: 40px;
    line-height: 1;
}
.comment-box{
    margin: 0 0 30px;}
.comment-box .date{display: block;color: #9d9d9d;}
.comment-box .col-lg-12{float: none;overflow: hidden}
.comment-box .date{
    display: block;
    margin: -10px 0 20px;
}